In [2]:
import numpy
import pandas as pd
import sklearn

In [3]:
# Import Training Data
training_data= pd.read_csv("./Data/training_data.csv", sep=";", decimal=',')
training_data.head()

,Group,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,dI51,dI52,dI53,dI54,dI55,dI56,dI57,dI58,Class,Perform
0,G9,0.136495,-0.028429,-0.037772,-0.232459,-0.016222,-0.187506,-0.322545,-0.043743,0.125389,...,0.102563,0.188481,-0.016027,-0.135451,-0.189667,0.250967,0.022171,-0.004265,-1,-0.033764
1,G5,-0.714522,-0.042137,-0.052968,-0.796862,-0.018394,0.070102,-0.076321,-0.063864,-1.045521,...,-0.016375,0.020727,-0.006525,-0.018790,-0.098543,0.317744,-0.180502,-0.009215,1,0.127771
2,G10,0.104791,-0.038188,-0.053191,0.620233,0.148587,0.489875,0.319274,-0.060246,0.053174,...,0.272937,0.774169,-0.007144,0.123954,0.000000,-0.110103,0.186669,-0.030720,1,0.183500
3,G2,-0.532847,-0.006582,-0.023377,1.306702,-0.068909,0.048024,-0.119481,-0.021057,-1.012916,...,0.004938,0.018494,-0.003350,-0.029214,0.045747,-0.076884,-0.037859,-0.012046,-1,-0.035668
4,G3,-0.200815,-0.016334,-0.036754,-0.886675,0.484495,-1.148744,0.152517,-0.043580,-0.935537,...,-0.014812,-0.324584,-0.019002,-0.379323,-0.046024,0.282145,0.011008,0.010496,1,0.235055

In [5]:
# Data Cleaning

# Change Group to Dummy Variable
training_data = pd.get_dummies(training_data,"Group_",columns=["Group"])

# Need to Deal with NA/missing values 
sklearn.impute.SimpleImputer(
    
)

,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,...,Group__G10,Group__G11,Group__G2,Group__G3,Group__G4,Group__G5,Group__G6,Group__G7,Group__G8,Group__G9
0,0.136495,-0.028429,-0.037772,-0.232459,-0.016222,-0.187506,-0.322545,-0.043743,0.125389,-0.014757,...,False,False,False,False,False,False,False,False,False,True
1,-0.714522,-0.042137,-0.052968,-0.796862,-0.018394,0.070102,-0.076321,-0.063864,-1.045521,-0.037353,...,False,False,False,False,False,True,False,False,False,False
2,0.104791,-0.038188,-0.053191,0.620233,0.148587,0.489875,0.319274,-0.060246,0.053174,-0.025008,...,True,False,False,False,False,False,False,False,False,False
3,-0.532847,-0.006582,-0.023377,1.306702,-0.068909,0.048024,-0.119481,-0.021057,-1.012916,-0.011783,...,False,False,True,False,False,False,False,False,False,False
4,-0.200815,-0.016334,-0.036754,-0.886675,0.484495,-1.148744,0.152517,-0.043580,-0.935537,-0.023262,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,-0.946477,-0.039767,-0.051916,NaN,-9.099326,1.470616,1.470374,-0.045827,-1.323460,-0.030871,...,False,False,False,False,False,False,False,False,False,False
7996,-0.521183,-0.038272,-0.047929,-0.820632,-0.179414,-0.774646,0.413706,-0.051830,-0.378937,-0.034396,...,False,False,False,False,False,False,False,True,False,False
7997,0.323233,-0.031075,-0.045713,-0.105448,-0.103823,0.153551,-0.052157,-0.056057,-0.163512,-0.018169,...,False,False,True,False,False,False,False,False,False,False
7998,1.084416,-0.028497,-0.047528,-0.180118,-0.634162,0.143589,-0.033258,-0.058396,0.088713,-0.021483,...,False,False,False,False,True,False,False,False,False,False
7999,0.373261,-0.030294,-0.042319,0.675851,-0.099477,-0.113594,-0.347344,-0.053667,0.004552,-0.013544,...,False,False,True,False,False,False,False,False,False,False